**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.vscode
**/*.swp
# JupyterNB specific files
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# macOS Files
.DS_Store
**/.DS_Store
# Log files used for hunting, usually too large to archive
data_logs_folder/**.log
data_logs_folder/**.log.gz
data_logs_folder/**.csv
# Environment variables for API keys, etc.
# dotenv environment variables file
**.env
**.env.test
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
msticpyconfig.yaml
# GeoLite2 DB
#**.mmdb #commented this one out for Private repo so that this could be recereated without msticpyconfig.yaml